<%= flash_messages %>
<% form_tag greetings_path, :action => 'post' do %>
  <label for="name">Name:</label>
  <%= text_field_tag 'email[name]', '', :id => 'name' %>
  <%= submit_tag 'Send Email!' %>
<% end %>
